# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\victo\OneDrive\Ambiente de Trabalho\UpSkill\ExsResolvidos\linguagem-prog-java-main\ListaTarefasFicheiros\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
